.chart-Mega-2 {
  margin-top: 20px;
    width: 1228px;
    height: auto;
    margin-left: -13px;
    padding: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.214);
    border-radius: 25px;
}

#insightChartMega2.hidden {
  display: none;
}

#insightChartMega2.show {
  display: block;
}

.button-center-container {
  display: flex;
  justify-content: center;
}

#insightChartMega2 {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
}

#infoChartMega2 {
  border: none;
  color: blue;
}